body{

}
#page{
  margin: 0 auto;
  width: 960px;
}
header{
color: #fff;
font-family: 'Lato', Arial, sans-serif;
}
h2{
  
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}
h2 > a{
  color: #fff;
  text-decoration: none;
}
h3{
  font-weight: normal;
  color: #ffffff;
}

.content p{
  display: block;
  line-height: 1.3;
  font-weight: 300;
  color: #74818e;
  padding: 0 0 0.6em 0.1em;
}

#main{
  top: 60px;
  position: relative;
  z-index: 1;
}
#page{
  text-align: justify;
}